<!DOCTYPE root[<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
 

]>
<root id="-1">
  <Home id="1046" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2013-04-26T17:29:53" updateDate="2013-04-26T17:37:58" nodeName="MyAwesomeSite" urlName="myawesomesite" path="-1,1046" isDoc="" nodeType="1044" creatorName="umbraco" writerName="umbraco" writerID="0" template="1045">
    <bodyText><![CDATA[<p>This is my awesome content</p>
<ol>
<li>1</li>
<li>2</li>
</ol>
<p> </p>]]></bodyText>
  </Home>
</root>