<!DOCTYPE root[<!ELEMENT TextDoc ANY>
<!ATTLIST TextDoc id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
 

]>
<root id="-1">
  <Home id="1046" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2013-04-26T17:29:53" updateDate="2013-04-26T17:46:30" nodeName="MyAwesomeSite" urlName="myawesomesite" path="-1,1046" isDoc="" nodeType="1044" creatorName="umbraco" writerName="umbraco" writerID="0" template="1045">
    <TextDoc id="1049" parentID="1046" level="2" creatorID="0" sortOrder="0" createDate="2013-04-26T17:43:22" updateDate="2013-04-26T17:46:47" nodeName="Food" urlName="food" path="-1,1046,1049" isDoc="" nodeType="1047" creatorName="umbraco" writerName="umbraco" writerID="0" template="1048">
      <bodyText><![CDATA[<p>Some content</p>]]></bodyText>
      <metaKeywords><![CDATA[restaurant, faster table, food, book]]></metaKeywords>
      <metaDescription><![CDATA[this page contains site keywords]]></metaDescription>
    </TextDoc>
    <summary><![CDATA[We work with restaurants and their clients]]></summary>
    <summaryTitle>Welcome to our website</summaryTitle>
    <bodyText><![CDATA[<p>This is my awesome content</p>
<ol>
<li>1</li>
<li>2</li>
</ol>
<p> </p>]]></bodyText>
    <TextDoc id="1050" parentID="1046" level="2" creatorID="0" sortOrder="1" createDate="2013-04-26T17:48:07" updateDate="2013-04-26T17:48:57" nodeName="Abiut us" urlName="abiut-us" path="-1,1046,1050" isDoc="" nodeType="1047" creatorName="umbraco" writerName="umbraco" writerID="0" template="1048">
      <bodyText><![CDATA[<p>About Us</p>]]></bodyText>
      <metaKeywords><![CDATA[faster table, contacts]]></metaKeywords>
      <metaDescription><![CDATA[keywords]]></metaDescription>
    </TextDoc>
  </Home>
</root>